.my-footer {
  height: 5em;
  margin-top: 1.5em;
  padding: 1em;
  background-color: #163b65;
  color: #ffffff;
  font-size: 80%;
}

/* Generals Quarters and Major */
.room-image {
  max-width: 50%;
}

.notie-container {
  box-shadow: none;
}

.datepicker {
  z-index: 10000;
}