{{ template "base" . }}

{{ define "css" }}
<style>
  /* There is a style bug with sweet alert and the datepicker where the calendars are not positioned. */
  .swal2-html-container {
    min-height: 600px;
  }
</style>
{{ end }}

{{ define "content" }}
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="/static/images/generals-quarters.png" alt="Generals Quarter" class="img-fluid img-thumbnail mx-auto d-block room-image" />
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <h1 class="text-center mt-4">General's Quarters</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <button type="button" id="check-availability-button" class="btn btn-success">Check Availability</a>
      </div>
    </div>
  </div>
{{ end }}

{{ define "js" }}
<script>
  document.getElementById('check-availability-button').addEventListener('click', function() {
    const html = `
    <form id="check-availability-form" action="" method="POST" novalidate class="needs-validation">
      <div class="form-row">
        <div class="col">
          <div class="form-row" id="reservation-dates-modal">
            <div class="col">
              <input type="text" class="form-control" name="start-modal" id="start-modal" placeholder="Arrival" disabled required />
            </div>

            <div class="col">
              <input type="text" class="form-control" name="end-modal" id="end-modal" placeholder="Departure" disabled required />
            </div>
          </div>
        </div>
      </div>
    </form>
    `;

    attention.custom({
      msg: html,
      title: 'Choose your dates',
      preConfirm: () => {
        return [
          document.getElementById('start-modal').value,
          document.getElementById('end-modal').value
        ]
      },
      willOpen: () => {
        const modalElement = document.getElementById('reservation-dates-modal');
        const rp = new DateRangePicker(modalElement, {
          format: 'yyyy-mm-dd',
          showOnFocus: true
        })
      },
      didOpen: () => {
        document.getElementById('start-modal').removeAttribute('disabled');
        document.getElementById('end-modal').removeAttribute('disabled');
      },
      callback: (result) => {
        let form = document.getElementById('check-availability-form');
        let formData = new FormData(form);
        formData.append("csrf_token", "{{ .CSRFToken }}");

        fetch('/search-availability-json', {
          method: 'POST',
          body: formData
        })
        .then(response => response.json())
        .then(data => {
          console.info(data);
        }).catch(err => console.error(err));
      }
    });
  });
</script>
{{ end }}