{{ template "base" . }}

{{ define "content" }}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Make Reservation</h1>

        <form method="POST" action="" class="needs-validation" novalidate>
          <div class="form-group mt-5">
            <label for="first-name">First Name</label>
            <input type="text" name="first-name" id="first-name" class="form-control" required autocomplete="off" />
          </div>

          <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" name="last-name" id="last-name" class="form-control" required autocomplete="off" />
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" required autocomplete="off" />
          </div>

          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="tel" name="phone" id="phone" class="form-control" required autocomplete="off" />
          </div>

          <hr />

          <input type="submit" class="btn btn-primary" class="form-control" value="Make Reservation" />
        </form>
      </div>
    </div>
  </div>
{{ end }}